* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color1: hsl(122, 100%, 12%);
  --color2: hsl(153, 70%, 75%);
}

body {
  color: var(--color1);
  background: #FFFFF0;
  max-width: 1400px;
  margin: 0 auto;
}

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  min-height: calc(100vh - 171px - 41px);
  overflow: hidden;
}

header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 16px 24px;
  border-bottom: 1px solid var(--color1);
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-right: 12px;
  margin-bottom: 8px;
  width: 124px;
  flex-grow: 0
}

h2 {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
  border-bottom: 1px dashed var(--color1);
  padding-bottom: 4px;
  width: 80%;
}

nav {
  flex-grow: 1;
}

header ul {
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  width: 100%;
  justify-content: space-around;
}

li {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  align-self: center;
  cursor: pointer;
  margin-bottom: 8px;
}

a {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
}
@media (hover: hover) {
  header li:hover, a:hover{
    text-shadow: 1px 1px 1px rgb(206, 206, 206);
  }

  .project-card:hover {
    box-shadow: -3px -3px 8px rgb(203, 203, 203) ;
  }
}

.isActiveNav, .isActiveNav:hover, a, a:hover {
  color: var(--color2);
  font-weight: bold;
  text-shadow: 0px 0px 3px black;
}

footer {
  justify-self: baseline;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 16px 25%;
  border-top:var(--color1) 1px solid;
  margin-top: 41px
}

/* PORTFOLIO */
.portfolio-wrapper {
  margin: 24px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 41px;
}

.project-card {
  width: 100%;
  overflow: hidden 
}

.project-card {
  box-shadow: 3px 3px 8px rgb(203, 203, 203) ;
}

.project-name {
  font-size: 16px;
  height: 41px;
  text-align: center;
  padding-top: 8px;
  background-color: #231F20;
  color: #FFFFF0;
}

.project-img {
  width: 100%;
}

.project-card:hover:not(.featured) > .project-img {
  transform: translateY(-41px);
  transition: transform .5s, opacity .25s .25s;
}

:not(.featured) > .project-links {
  opacity: 0;
  visibility: hidden;
}

.project-card:hover:not(.featured) > .project-links {
  transform: translateY(-41px);
  opacity: 1;
  visibility: visible;
  transition: transform .5s, opacity .25s .25s;
}

.featured {
  grid-row: span 2;
  grid-column: span 2;
}

.project-links {
  position: absolute;
  display: flex;
  align-items: center;
  height: 41px;
  margin-left: 16px;
}

.deployed-link {
  font-size: 35px;
  text-decoration: none;
  margin-left: 16px;
}

/* CONTACT FORM */
.form-group {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 8px auto;
}

.form-group :nth-child(1n) {
  padding: 4px;
  outline-color: var(--color2);
}

.btn {
  height: 32px;
  border-radius: 7px;
  background: var(--color1);
  color: #FFFFF0;
  font-size: 16px;
}

.err-msg {
  color: rgb(255, 64, 64);
}

/* RESUME */
.pdf {
  /* max-height: calc(100vw * 80%); */
  min-height: calc(100vh - 250px);
}

.skills > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  text-align: center;
}

/* ABOUT */
.about {
  display: flex;
  grid-gap: 41px;
  margin-top: 41px;
}

.about-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-img {
  width: 300px;
  position: relative;
  bottom: 0;
}

.bio {
  border-radius: 10px;
  text-align: justify;
  padding: 41px;
  transform: translateX(1000px);
  animation: comeFromRight 1s .5s ease-out forwards;
  background-color: var(--color2);
  color: black;
}

.bio::after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 80px;
  background: var(--color2);
  position: absolute;
  bottom: 30px;
  left: -30px;
  border-right: 10px solid var(--color2);
  clip-path: polygon(100% 100%, 100% 0, 0 50%);
}

@keyframes comeFromRight {
  from {transform: translateX(1000px);}
  to {transform: translateY(0);}
}

/* MEDIA QUERIES */

@media screen and (max-width: 990px) {
  .about-img {
    width: 200px;
  }

  .portfolio-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .featured:not(:first-child) {
    grid-row: span 1;
    grid-column: span 1;
  }

  .project-card:hover:not(:first-child) > .project-img {
    transform: translateY(-41px);
    transition: transform .5s, opacity .25s .25s;
  }
  
  :not(:first-child) > .project-links {
    opacity: 0;
    visibility: hidden;
  }
  
  .project-card:hover:not(:first-child) > .project-links {
    transform: translateY(-41px);
    opacity: 1;
    visibility: visible;
    transition: transform .5s, opacity .25s .25s;
  }
}

@media screen and (max-width: 556px) {
  .portfolio-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }

  .featured:first-child {
    grid-row: span 1;
    grid-column: span 1;
  }

  .project-card:hover:not(:first-child) > .project-img {
    transform: none;
    transition: none;
  }
  
  :not(:first-child) > .project-links {
    opacity: 1;
    visibility: visible;
  }
  
  .project-card:hover:not(:first-child) > .project-links {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: none;
  }
  
  .project-links {
    position: relative;
  }
}

@media screen and (max-width: 487px) {
  header h1 {
    width: 100%;
    text-align: center;
  }
  footer {
    padding: 16px 0;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 90%;
  }
}

@media screen and (max-width: 351px) {
  header li {
    padding-left: 30px;
    padding-right: 30px;
  }

  main {
    width: 100%;
  }
}

/* ABOUT */
@media screen and (max-width: 625px) {
  .about {
    flex-direction: column-reverse;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .about-img {
    width: 100%;
  }

  .about-img-wrapper {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    animation: drop 1s linear forwards;
  }

  .bio::after {
    width: 70px;
    height: 50px;
    bottom: -50px;
    left: 50%;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
}

/* SKILLS */
@media screen and (max-width: 770px) {
  .skills > ul {
    grid-template-columns: 1fr 1fr ;
  }
}

@media screen and (max-width: 568px) {
  .skills > ul {
    grid-template-columns: 1fr;
  }
}


@keyframes drop {
  from {transform: translateY(-500px)}
  to {transform: translateY(0) rotate(0deg)}
}